@model hospital2.Models.Skil

@{
    ViewBag.Title = "ImageCreate";
}

@using (Html.BeginForm("ImageCreate", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>
            Добавити зображення
        </legend>
        <div>Назва</div>
        <div>
            @Html.EditorFor(m => m.Name)
        </div>
        <div>Текст</div>
        <div>
            @Html.EditorFor(m => m.Text)
        </div>
        <div>Зображення</div>
        <div>
            <input type="file" name="uploadImage"/>
        </div>
        <p>
            <input type="submit" value="Добавити" />
        </p>
        <div>Головний лікар</div>
        @Html.CheckBoxFor(m => m.IsMain)
    </fieldset>
}


